<h2>Informativo de pagamento por saldo</h2>
<p>Houve um pagamento de fatura usando saldo disponível de sua conta!</p>
<table class="lista">
  <tr><th>id</th><td><%= @comm.id %></td></tr>
  <tr><th>registrado em:</th><td><%= @comm.created_at.to_s_br %></td></tr>
  <tr><th>valor</th><td><%= @comm.value.real_contabil %></td></tr>
  <tr><th>usuário</th><td><%= @comm.user.get_login %></td></tr>
  <tr><th>pedido</th><td><%= @comm.order_id %></td></tr>
  <tr><th>pedido valor</th><td><%= @comm.order.price.real_contabil %></td></tr>
  <tr><th>pedido status</th><td><%= order_status @comm.order.status %></td></tr>
</table>

<p>Veja mais informações através da sua central de negócios.</p>
