<div class="top_wrap">
      <div class="top">
        <ul>
          <li><%= link_to "Página Inicial", root_path %></li>
          <li><%= link_to "A Nisher", site_nisher_path %></li>
          <li><%= link_to "Aumente sua renda", site_renda_path %></li>
          <li><%= link_to "Eventos", site_eventos_path  %></li>
          <li><%= link_to "Depoimentos", site_depoimentos_path %></li>
          <li><%= link_to "Dúvidas", site_duvidas_path %></li>
          <li><%= link_to "Cadastre-se", site_cadastro_path, :class=>"activated" %></li>
          <li><%= link_to "Contato", new_contact_path %></li>
        </ul>
      </div>
</div>
