<h1 class="title">Dados do parceiro de negócios</h1>
<div id="office_client_data">
  <table cellspacing="0" class="office">
    <tbody>
    <tr><th style="width: 150px">Data do cadastro</th><td><%= @matrix.user.created_at.to_s_br %></td></tr>
    <tr><th>Tipo de conta</th><td><%= tipo_cliente @matrix.user.account_type_id %></td></tr>
    <tr><th>Matrix id</th><td><%= @matrix.id %></td></tr>
    <tr><th>Usuário id</th><td><%= @matrix.user.id %></td></tr>
    <tr><th>Nome de exibição</th><td><%= @matrix.user.get_nick %></td></tr>
    <tr><th>Site</th><td><%= get_site @matrix.user %></td></tr>
    <tr><th>Email1</th><td><%= @matrix.user.email1 %></td></tr>
    <tr><th>Email2</th><td><%= @matrix.user.email2 %></td></tr>
    <tr><th>Telefone</th><td><%= @matrix.user.phone %></td></tr>
    <tr><th>Celular</th><td><%= @matrix.user.mobile %></td></tr>
    <tr><th>Cidade</th><td><%= @matrix.user.address.city_name %></td></tr>
    <tr><th>Estado</th><td><%= @matrix.user.address.state_name %></td></tr>
    <tr><th>País</th><td><%= @matrix.user.address.country.name %></td></tr>
    <tr><th>Indicador</th><td><%= @matrix.user.sponsor.get_login %></td></tr>
    <tr><th>Upline</th><td><%= @matrix.upline.user.get_login %></td></tr>

    </tbody>
  </table>
</div>
