<h1 class="title">Banners</h1>
<p>Basta copiar o código e colar no arquivo fonte de seu site</p>

<div id="banners">

  <h2>120x90</h2>
  <embed src="<%= CFG["prot"] %>/banners/nisher_120x90.swf?subdomain=<%= @sponsor.name %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height="90" width="120" wmode="transparent">
    <p>Código-fonte:</p>
    <span>
      <%= banner_echo @sponsor.name, 120, 90, :nisher_120x90 %>
    </span>

  <h2>120x240</h2>
  <embed src="<%= CFG["prot"] %>/banners/nisher_120X240.swf?subdomain=<%= @sponsor.name %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height="240" width="120" wmode="transparent">
    <p>Código-fonte:</p>
    <span>
      <%= banner_echo @sponsor.name, 120, 240, :nisher_120x240 %>
    </span>

  <h2>120x600</h2>
  <embed src="<%= CFG["prot"] %>/banners/nisher_120x600.swf?subdomain=<%= @sponsor.name %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height="600" width="120" wmode="transparent">
    <p>Código-fonte:</p>
    <span>
      <%= banner_echo @sponsor.name, 120, 600, :nisher_120x600 %>
    </span>

  <h2>125x125</h2>
  <embed src="<%= CFG["prot"] %>/banners/nisher_125x125.swf?subdomain=<%= @sponsor.name %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height="125" width="125" wmode="transparent">
    <p>Código-fonte:</p>
    <span>
      <%= banner_echo @sponsor.name, 125, 125, :nisher_125x125 %>
    </span>

  <h2>160x600</h2>
  <embed src="<%= CFG["prot"] %>/banners/nisher_160x600.swf?subdomain=<%= @sponsor.name %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height="600" width="160" wmode="transparent">
    <p>Código-fonte:</p>
    <span>
      <%= banner_echo @sponsor.name, 160, 600, :nisher_160x600 %>
    </span>

  <h2>234x60</h2>
  <embed src="<%= CFG["prot"] %>/banners/nisher_234x60.swf?subdomain=<%= @sponsor.name %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height="60" width="234" wmode="transparent">
    <p>Código-fonte:</p>
    <span>
      <%= banner_echo @sponsor.name, 234, 60, :nisher_234x60 %>
    </span>

  <h2>240x400</h2>
  <embed src="<%= CFG["prot"] %>/banners/nisher_240X400.swf?subdomain=<%= @sponsor.name %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height="400" width="240" wmode="transparent">
    <p>Código-fonte:</p>
    <span>
      <%= banner_echo @sponsor.name, 240, 400, :nisher_240x400 %>
    </span>

  <h2>250x250</h2>
  <embed src="<%= CFG["prot"] %>/banners/nisher_250X250.swf?subdomain=<%= @sponsor.name %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height="250" width="250" wmode="transparent">
    <p>Código-fonte:</p>
    <span>
      <%= banner_echo @sponsor.name, 250, 250, :nisher_250X250 %>
    </span>

  <h2>300x250</h2>
  <embed src="<%= CFG["prot"] %>/banners/nisher_300x250.swf?subdomain=<%= @sponsor.name %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height="250" width="300" wmode="transparent">
    <p>Código-fonte:</p>
    <span>
      <%= banner_echo @sponsor.name, 300, 250, :nisher_300x250 %>
    </span>

  <h2>336x280</h2>
  <embed src="<%= CFG["prot"] %>/banners/nisher_336X280.swf?subdomain=<%= @sponsor.name %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height="280" width="336" wmode="transparent">
    <p>Código-fonte:</p>
    <span>
      <%= banner_echo @sponsor.name, 336, 280, :nisher_336X280 %>
    </span>

  <h2>468x60</h2>
  <embed src="<%= CFG["prot"] %>/banners/nisher_468x60.swf?subdomain=<%= @sponsor.name %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height="60" width="468" wmode="transparent">
    <p>Código-fonte:</p>
    <span>
      <%= banner_echo @sponsor.name, 468, 60, :nisher_468x60 %>
    </span>

  <h2>728x90</h2>
  <embed src="<%= CFG["prot"] %>/banners/nisher_728x90.swf?subdomain=<%= @sponsor.name %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height="90" width="728" wmode="transparent">
    <p>Código-fonte:</p>
    <span>
      <%= banner_echo @sponsor.name, 728, 90, :nisher_728x90 %>
    </span>

</div>
