<h1 class="title">Mensagens</h1>
<p>Abaixo segue mensagens para que você possa divulgar em redes sociais e atrair público para seu site de divulgações.</p>

<br/>
<br/>
<div id="office_nisher_messages">
  <ul>
    <li>
      <div class="message">
        <%= render :partial => "top" %>
        <p>A boa nutrição depende de uma dieta regular e equilibrada ou seja, é preciso fornecer às células do corpo não só a quantidade como também a variedade adequada de nutrientes importantes para seu bom funcionamento. Os guias alimentares mais conhecidos são as pirâmides alimentares...</p>
        <%= render :partial => "bottom" %>
      </div>
    </li>
    <li>
      <div class="message">
        <%= render :partial => "top" %>
        <p>A alimentação é um dos fatores que mais influencia a saúde e a qualidade de vida dos indivíduos. No entanto, pelo ritmo de vida atual temos normalmente pouco tempo para dedicar às refeições e muitas vezes acabamos por ter um padrão alimentar desequilibrado e desajustado das nossas necessidades. Fazer um pequeno almoço e evitar longos períodos de jejum.</p>
        <%= render :partial => "bottom" %>
      </div>
    </li>
    <li>
      <div class="message">
        <%= render :partial => "top" %>
        <p>Uma dieta de qualidade equilibrada em nutrientes e com alimentos provenientes de fontes seguras, não somente naturais traz, como benefícios, saúde, longevidade, controle do peso, bem-estar e prazer.</p>
        <%= render :partial => "bottom" %>
      </div>
    </li>
    <li>
      <div class="message">
        <%= render :partial => "top" %>
        <p>Todos os dias de nossa vida devem ser considerados o dia da Saúde e Nutrição e também do emagrecimento e outras coisas relacionadas com saúde e beleza. Hoje é um dia especial para refletirmos sobre a nossa saúde.</p>
        <%= render :partial => "bottom" %>
      </div>
    </li>
    <li>
      <div class="message">
        <%= render :partial => "top" %>
        <p>A nutrição desportiva é muito importante e deve ser consideradas como parte da preparação do atleta para o desempenho ideal. Não só antes da competição ou desporto intenso, mas também antes das sessões de treino, bem como o consumo de líquidos e a ingestão correta de nutrientes, todos estes fatores influenciam a performance do atleta.</p>
        <%= render :partial => "bottom" %>
      </div>
    </li>
    <li>
      <div class="message">
        <%= render :partial => "top" %>
        <p>O organismo humano é um sistema que funciona com perfeição. Os alimentos contribuem para o equilibrio, corpo, mente e espírito em qualquer fase da vida.</p>
        <%= render :partial => "bottom" %>
      </div>
    </li>
    <li>
      <div class="message">
        <%= render :partial => "top" %>
        <p>Uma alimentação equilibrada é sem dúvida um dos princípios básicos para uma vida saudável. Comer saudavelmente contribui para o bem-estar e ajuda a prevenir doenças crónico-degenerativas. O tabagismo, o stress, o sedentarismo, a ingestão excessiva de álcool e uma alimentação errada com grande quantidade de gordura, açucar e pobre em fibras, são factores que propiciam o desenvolvimento de doenças como hipertensão arterial, obesidade, colesterol e triglerídeos elevados, e a diabetes, todos eles principais fatores de risco para o desenvolvimento de doença cardiovascular.</p>
        <%= render :partial => "bottom" %>
      </div>
    </li>
    <li>
      <div class="message">
        <%= render :partial => "top" %>
        <p>Seja qual for o seu ritmo de vida, é possível conciliá-lo com atividade física.</p>
        <%= render :partial => "bottom" %>
      </div>
    </li>
    <li>
      <div class="message">
        <%= render :partial => "top" %>
        <p>Ao longo da vida, as necessidades nutricionais modificam-se e sofrem alterações, de acordo com a nossa idade, estilo de vida e metabolismo.</p>
        <%= render :partial => "bottom" %>
      </div>
    </li>
    <li>
      <div class="message">
        <%= render :partial => "top" %>
        <p>Praticar exercícios é ainda a melhor alternativa para manter corpo e mente sadios. Condicionamento físico não é apenas um estado do corpo, é um estado de espírito.</p>
        <%= render :partial => "bottom" %>
      </div>
    </li>
  </ul>
</div>
