$("#calculo_frete").fadeOut();
$('div#address_completed, div#frete_info, div#set_frete').empty().hide();

$("div#cart p").html("<a href=\"<%= cart_path(@cart) %>\">Seu carrinho contêm <%= pluralize(@cart.total_items, "item") %></a>")
<% if @cart.total_items >= 1 %>
  $("span#total_weight").html("<%= @cart.total_weight %>")
  $("span#total_height").html("<%= @cart.total_height %>")
  $("span#total_width").html("<%= @cart.total_width %>")
  $("span#total_length").html("<%= @cart.total_length %>")
  $("span#total_size").html("<%= @cart.total_size %>")
  
  $("span#final_weight").html("<%= @cart.total_weight %>")
  $("span#final_length").html("<%= @cart.final_length.ceil %>")
  $("span#final_height").html("<%= @cart.final_height.ceil %>")
  $("span#final_width").html("<%= @cart.final_width.ceil %>")
<% else %>

  $("#link_calcular_frete").fadeOut();
  $("#link_esvaziar_carrinho").fadeOut();
  $("div#debug_frete").hide();

<% end %>


$("#<%= dom_id(@line_item) %>").remove();
$("td#to_pay").html("<%= escape_javascript(@cart.total_price.real_contabil) %>")
$("span#total_qty").html("<%= escape_javascript(@cart.total_items.to_s) %>")
$("div.flash").hide();
$("div.flash").html("O produto <%= @line_item.product.title %> <%= " Sabor: #{@line_item.product_taste.name}" if @line_item.product_taste_id %> foi deletado do carrinho de compras");
$("div.flash").fadeIn().delay(5000).fadeOut();

